<style>
body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
</style>

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray" id="timetableheader">
                    <th class="text-uppercase">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr id="monday">
                    <td class="align-middle">Monday</td>
                   
                </tr>

                <tr id="tuesday">
                    <td class="align-middle">Tuesday</td>
                    
                </tr>

                <tr id="wednesday">
                    <td class="align-middle">Wednesday</td>
                    
                </tr>

                <tr id="thursday">
                    <td class="align-middle">Thursday</td>
                    
                </tr>

                <tr id="friday">
                    <td class="align-middle">Friday</td>
                    
                </tr>
                <tr id="saturday">
                    <td class="align-middle">Saturday</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>

    function getTimes(timetabledata){
        var header = "";
        timetableData.forEach(element => {
            header = header + `<td>${element["start_time"]}</td>`
        });
        return header;
    }

    function getTimeTableRows(timetabledata){
        var rows = "";
        timetableData.forEach(element=>{
            rows = rows + `<td>
                        <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">${element["subject_name"]}</span>
                        <div class="margin-10px-top font-size14">${element["name"]}</div>
                        <div class="font-size13 text-light-gray">${element["room_no"]} (${element["room_name"]})</div>
                    </td>`;
        })
        return rows;
    }

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const timetableData = JSON.parse(urlParams.get('data'));

    console.log("Time table data = ",timetableData);

    document.getElementById("timetableheader").innerHTML = document.getElementById("timetableheader").innerHTML + `${getTimes(timetableData)}`;
    console.log("Html - ",getTimes(timetableData));

    const timetablerowsHtmlData = getTimeTableRows(timetableData);
    
    
    var days = ["monday","tuesday","wednesday","thursday","friday","saturday"];

    days.forEach((day)=>{
        document.getElementById(day).innerHTML = document.getElementById(day).innerHTML + timetablerowsHtmlData;
    })

    window.print();
    
</script>